.ats-hidden {
    display: none;
}

.ats-transparent-btn {
    background-color: transparent;
    border: none;
    padding: 0px 20px;
    z-index: 1;
}

.ats-admin-table-btn {
    padding: 10px;
    background-color: darkgrey;
    color: whitesmoke;
    border-radius: 5px;
    width: 50px;
    margin: 0 auto;
}

.ats-admin-btn {
    padding: 10px;
    background-color: darkslateblue;
    color: whitesmoke;
    border-radius: 5px;
    width: 50px;
    margin: 0 auto;
}

.ats-table {
    margin-top: 36px;
    overflow: scroll;
}

.ats-btn-area {
    align-content: center;
}

.ats-update-user-btn {
    z-index: 0;
}

.ats-sticky-table-head {
    border: none;
}

.ats-row {
    margin: 0 auto;

}